<h1>Edit your Post:</h1>

<%= form_for @post, url: {controller: "posts", action: "update", id: @post.id} do |f| %>

  Title: <%= f.text_field :comment %>
  Image Url: <%= f.text_field :img_url %>
  Comment: <%= f.text_area :body %>

  <%= f.submit "Post Puppy!" %>
<% end %>
